// Import page-specific CSS files here.
@import "home";

.detailbox {
  margin: 0;
}

.property-blur {
  height: 678px;
  width: 91.5%;
  margin-left: 13px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  // background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 92%, rgb(227, 218, 218) 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 97%, rgba(0, 0, 0, 0.575788) 100%);
  pointer-events: none;
  border-radius: 10px;
}

.propertybox {
  height: 678px;
  overflow-y: scroll;
  position: relative;
  padding: 0 20px 0 0px;


  &::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.799);
    border-radius: 50px;
    height: 5px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

.maping {
  margin: 15px 0px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.799);
  border-radius: 5px;
}

.graphing {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.799);
  border-radius: 5px;
}

.index-container h2 {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 700;
}
