// Import page-specific CSS files here.
@import "home";

.index-container {}

.detailbox {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.799);
}

.propertybox {
  background-color: white;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.799);
}
