<section class="dashboard-header">
  <div class="dashboard-container">
    <div class="dashboard-row">
      <div class="col-lg-4">
        <h2 class="dash-property text-start">Welcome back <%= current_user.first_name %></h2>
      </div>
      <div class="col-lg-4">
        <h2 class="dash-property2">Properties Summary</h2>
      </div>
      <div class="col-lg-4 d-flex align-items-center justify-content-end">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" id="add-property-button">
          +Add Property
        </button>
      </div>
    </div>

  </div>

    <!-- <div id="typed-strings">
      <h2>Welcome back <%= current_user.first_name %></h2>
      <p>Your properties await</p>
    </div>
    <span id="typed"></span>

    <script>
      var typed = new Typed('#typed', {
        stringsElement: '#typed-strings',
        backSpeed: 40,
        typeSpeed: 40
      });
    </script> -->

    <%# <p><span data-controller="typed-js"></span></p> %>

</section>
