<div class="row overviewGutter">
  <div class="col-md-4">
    <div class="panel">
      <div class="statsOverview--panel">
        <div class="statsOverview--header">
          <p class="statsOverview--headerIn">
            IN
          </p>
          <p class="statsOverview--headerInPercentage">
            <i class="fa fa-level-up-alt"></i>
            <span>23%</span>
          </p>
        </div>

        <div class="statsOverview--body">
          <i class="fa-solid fa-money-bill-trend-up"></i>
          <p class="statsOverview--rangeIn">Monthly</p>
          <h3 class="statsOverview--label">Net Income</h3>
          <p class="statsOverview--dollarIn">$350</p>
        </div>
      </div>

    </div>

  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="statsOverview--panel">
        <div class="statsOverview--header">
          <p class="statsOverview--headerOut">
            OUT
          </p>
          <p class="statsOverview--headerOutPercentage">
            <i class="fa fa-level-down-alt"></i>
            <span>10%</span>
          </p>
        </div>

        <div class="statsOverview--body">
          <i class="fa-solid fa-money-bill-trend-up" id="moneyflip"></i>
          <p class="statsOverview--rangeOut">Monthly</p>
          <h3 class="statsOverview--label">Net Loss</h3>
          <p class="statsOverview--dollarOut">$100</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel">
      <div class="statsOverview--panel">
        <div class="statsOverview--header">
          <p class="statsOverview--headerTotal">
            TOTAL
          </p>
          <p class="statsOverview--headerTotalPercentage">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            <span>23%</span>
          </p>
        </div>

        <div class="statsOverview--body">
          <i class="fa-solid fa-money-bill-transfer"></i>
          <p class="statsOverview--rangeTotal">Monthly</p>
          <h3 class="statsOverview--label">Gross</h3>
          <p class="statsOverview--dollarTotal">$250</p>
        </div>
      </div>

    </div>

  </div>
</div>
