<div class="suburbsum">
  <h2>Suburb Overview for <b><%= @suburb_overview["suburbName"] %></b></h2>
  <p>The percentage of the suburb that are renters: <b><%= @suburb_overview["data"]["renterPercentage"] %></b></p>
  <p> The most common age bracket living in the area: <b><%= @suburb_overview["data"]["mostCommonAgeBracket"] %></b></p>
  <p> <%= @suburb_overview["data"]["propertyCategories": @property.property_type]%></p>
</div>
