<div class="container">
  <div class="graph-container bg-white rounded">
    <br>
    <% data_hash = {} %>
    <% Property.all.each do |property| %>
      <% data_hash[property.address] = property.total_profit %>
    <% end %>
    <%= column_chart data_hash, title: "All Properties (Net Income)", prefix: "$", download: {background: "#ffffff"}, colors: ["#f6bd60", "#84a59d", "#f7ede2", "#f5cac3", "#f28482"] %>
    <br>
  </div>
  <div class="card-container">
    <% @properties.each do |property| %>
      <%= link_to property_path(property), class: "index-card" do %>
        <%= cl_image_tag property.photo.key %>
        <div class="index-card-product-infos">
          <h2><%= property.address %></h2>
          <p>Product description with <strong>relevant info</strong> only.</p>
        </div>
      <%end%>
    <%end%>
  </div>
</div>
