<div class="container">
  <br>
  <h1>Welcome Back<%= current_user.email%></h2>
  <h2>Pages#Dashboard</h2>
  <p>Find me in app/views/pages/home.html.erb</p>
  <ul>
    <% @properties.each do |property| %>
      <%= link_to property_path(property) do %>
        <li><%= property.address %></li>
      <% end %>
    <% end %>
  </ul>
</div>
