<footer class="footer mt-auto">
  <div>
    <ul>
      <li><a href="#">STILL WORKING ON FOOTER</a></li>
      <li><a href="#">HOME</a></li>
    </ul>
  </div>
  <div class="text-center p-3 text-light">
    © 2022 Copyright. All Rights Reserved To The Boyz
  </div>
</footer>
