<footer class="footer">
  <div class="row m-0">
    <div class="fs-3 footer-links">
      <i class="fa-brands fa-github"></i>
      <i class="p-2 fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
      <div class="cr p-2">
        myPlace © 2022 Copyright. All Rights Reserved To The Boyz.
      </div>
    </div>
  </div>
</footer>
