<div class="container">
  <% data_hash = {} %>
  <% Property.all.each do |property| %>
    <% data_hash[property.address] = property.total_profit %>
  <% end %>
  <%= pie_chart data_hash, legend: "bottom" %>
</div>
<%# <div class="card-container">
  <div class="index-card">
    <img src="https://i2.au.reastatic.net/1000x750-format=webp/11cec2902a7318a9a7ece6decc7058aea782bc3b2fd99dfcbcd13f0e6458bc67/image.jpg" />
    <div class="index-card-product-infos">
      <h2>Unit 2 64 Edgar St North Glen Iris, VIC, Melbourne</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    <div class="index-card-product-states">
      <i class="fa-thin fa-bed"></i>
      <i class="fa-regular fa-bed"></i>
      <i class="fa-regular fa-house"></i>
      <i class="fa-regular fa-bed"></i>
      <i class="fa-solid fa-apartment"></i>
    </div>
  </div>

  <div class="index-card">
    <img src="https://i2.au.reastatic.net/1000x750-format=webp/11cec2902a7318a9a7ece6decc7058aea782bc3b2fd99dfcbcd13f0e6458bc67/image.jpg" />
    <div class="index-card-product-infos">
      <h2>Unit 2 64 Edgar St North Glen Iris, VIC, Melbourne</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    <div class="index-card-product-states">
      <i class="fa-thin fa-bed"></i>
      <i class="fa-regular fa-bed"></i>
      <i class="fa-regular fa-house"></i>
      <i class="fa-regular fa-bed"></i>
      <i class="fa-solid fa-apartment"></i>
    </div>
  </div>

   <div class="index-card">
    <img src="https://i2.au.reastatic.net/1000x750-format=webp/11cec2902a7318a9a7ece6decc7058aea782bc3b2fd99dfcbcd13f0e6458bc67/image.jpg" />
    <div class="index-card-product-infos">
      <h2>Unit 2 64 Edgar St North Glen Iris, VIC, Melbourne</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    <div class="index-card-product-states">
      <i class="fa-thin fa-bed"></i>
      <i class="fa-regular fa-bed"></i>
      <i class="fa-regular fa-house"></i>
      <i class="fa-regular fa-bed"></i>
      <i class="fa-solid fa-apartment"></i>
    </div>
  </div>

   <div class="index-card">
    <img src="https://i2.au.reastatic.net/1000x750-format=webp/11cec2902a7318a9a7ece6decc7058aea782bc3b2fd99dfcbcd13f0e6458bc67/image.jpg" />
    <div class="index-card-product-infos">
      <h2>Unit 2 64 Edgar St North Glen Iris, VIC, Melbourne</h2>
      <p>Product description with <strong>relevant info</strong> only.</p>
    </div>
    <div class="index-card-product-states">
      <i class="fa-thin fa-bed"></i>
      <i class="fa-regular fa-bed"></i>
      <i class="fa-regular fa-house"></i>
      <i class="fa-regular fa-bed"></i>
      <i class="fa-solid fa-apartment"></i>
    </div>
  </div>
</div> %>
