
  //graph about @property revenue vs expense ----COMPLETED
  //graph that shows all the different category of expenses
  //graphc that shows the total expense of @property compared to the average expenses of all properties
<div class="container">
  <% @property = Property.second %>
  <%= column_chart @property.transactions.expenses.select(:category, :amount).group(:category).sum(:amount), colors: ["#84a59d","#f5cac3", "#f28482", "#f7ede2", "#f5cac3", "#84a59d",], donut:true, title: @property.address %>
</div>
