

  //graph about @property revenue vs expense ----COMPLETED
  //graph that shows all the different category of expenses
  //graphc that shows the total expense of @property compared to the average expenses of all propertieso


















  <%# <div class="row overviewGutter">
    <div class="col-md-4">
      <div class="indexpanel">
          <div class="indexOverview--header">
            <p class="indexOverview--headerIn">
              <H1>Unit 2 64 Edgar St North Glen Iris VIC</H1>
            </p>
          </div>
          <div class="indexOverview--body">
              <img src="https://i2.au.reastatic.net/1000x750-format=webp/11cec2902a7318a9a7ece6decc7058aea782bc3b2fd99dfcbcd13f0e6458bc67/image.jpg" />
            <div class="summary">
              <ul>
                <li><i class="fa-regular fa-bed"></i>2</li>
                <li>Profit: $300</li>
                <li>Bedrooms: 2</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <div class="row overviewGutter">
    <div class="col-md-4">
      <div class="indexpanel">
        <div class="indexOverview--panel">
          <div class="indexOverview--header">
            <p class="indexOverview--headerIn">
              <H1>Unit 2 64 Edgar St North Glen Iris VIC</H1>
            </p>
          </div>

          <div class="indexOverview--body">
              <img src="https://i2.au.reastatic.net/1000x750-format=webp/11cec2902a7318a9a7ece6decc7058aea782bc3b2fd99dfcbcd13f0e6458bc67/image.jpg" />
            <div class="summary">
              <ul>
                <li><i class="fa-regular fa-bed"></i>2</li>
                <li>Bedroom = 2</li>
                <li>Bedroom = 2</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row overviewGutter">
    <div class="col-md-4">
      <div class="indexpanel">
        <div class="indexOverview--panel">
          <div class="indexOverview--header">
            <p class="indexOverview--headerIn">
              <H1>Unit 2 64 Edgar St North Glen Iris VIC</H1>
            </p>
          </div>

          <div class="indexOverview--body">
              <img src="https://i2.au.reastatic.net/1000x750-format=webp/11cec2902a7318a9a7ece6decc7058aea782bc3b2fd99dfcbcd13f0e6458bc67/image.jpg" />
            <div class="summary">
              <ul>
                <li><i class="fa-regular fa-bed"></i>2</li>
                <li>Profit/Loss: $300</li>
                <li>Bedrooms: 2</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> %>
