.back-btn {
  color: $secondary;

  p {
    margin-left: 8px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: .7;
  }

  &:hover {
    color: $gray;
    opacity: 1;
    font-weight: bold;
    transition: .2s;
  }
}
