#add-property-button {
  background-color: white;
  color: #1e3454;
  border-color: #1e3454;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: $yellow;
    top: 0;
    left: 0;
    transition: 0.3s width;
    z-index: -1;
  }

  &::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background-color: $yellow;
    top: 0;
    right: 0;
    transition: 0.3s width;
    z-index: -2;
  }
}

#add-property-button:hover {
  border-color: $primary;
  font-weight: bold;

  &::before {
    width: 100%;
  }

  &::after {
    width: 100%;
  }
}

#typed{
  h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
    margin: 0px;
  }
}


.dash-property {
  // font-weight: 600;
  // text-transform: uppercase;
  font-size: 18px;
  margin: 0px;
 }

.dash-property2 {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 20px;
  margin: 0px;
  font-weight: bold;
  text-align: center;
}
