.footer {
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  background-color: #1e3454;
  text-align: center;
  justify-content: center;
}

.cr {
  font-size: 14px;
  color: white;
}

.footer-links {
  padding-top: 15px;
  color: $orange;
  i:hover {
  color: rgb(255, 213, 0);
  }
}
