.navbar-lewagon {
  justify-content: space-between;
  background-color: #1e3454;
  opacity: 100%;
  box-shadow: 0px 2px #888888;
  width: 100%;
  padding: 20px 5%;
  display: flex;
  align-items: center;
  text-shadow: 1px 1px 1px black;

  .nav-item a {
    font-size: 20px;
    color: white;
    border-radius: 5px;

    &:hover {
      background-color: rgba(243, 159, 31, 0.4);
    }
  }
}

.navbar-lewagon.home-navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  z-index: 2;
  box-shadow: none;
  margin-bottom: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon H1 {
  color: $white;
  font-size: 30px;
  font-weight: 600;
}

.navbar-lewagon fa-solid {
  color: orange;
}

#logo {
  color: #F39F1F;
  ;
}
