.section {
  min-height: 600px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.799);
  margin-bottom: 20px;
}

.transaction-container {

  .details {
    width: 1000px;
    margin-top: 10px;

  }

  .list {
    width: 1000px;
    padding: 3px;
    border-radius: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .leftcol {
    width: 150px;
  }

  .pos {
    width: 69px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .light-green {
    background-color: rgba(43, 179, 192, 0.15);
    &:hover {
      background-color: rgba(43, 179, 192, 0.3);
    }
  }

  .light-red {
    background-color: rgba(225, 97, 35, 0.15);
    &:hover {
      background-color: rgba(225, 97, 35, 0.3);
    }
  }

  .green {
    color: #2bb3c0;
  }

  .red {
    color: #e16123;
  }
}
// #######################

.label {
  background-color: #393939;
  font-weight: 700;
  color: white;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 15px;

  .head {
    font-size: 24px;
    margin-bottom: 10px;
    padding-top: 5px;
  }

  .nav-item a {
    font-size: 18px;
    border-radius: 5px;
    width: 266px;
  }
}
