.section {
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.799);
  margin-bottom: 20px;
}

.transaction-container .transaction-edit-btn {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    color: blue;
  }
}

.transaction-container .transaction-delete-btn {
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &:hover {
    color: red;
    cursor: inherit;
  }
}

.transaction-container {
  .details {
    // width: 1027px;
    margin-top: 10px;
    padding: 0px 120px 0px 120px;
  }

  .list {
    // width: 1000px;
    padding: 3px;
    border-radius: 20px;
    margin: 5px 120px 5px 120px;

    a {
      visibility: hidden;
      color: black;
      font-size: 18px;
    }

    // a:hover {
    //   color: $primary;
    // }
  }

  .list:hover a {
    visibility: visible;
  }

  .left-col {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .desc-col {
    width: 75%;
  }

  .amnt-col {
    width: 90px;
    margin-right: 13px;
  }

  .pos {
    width: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 3px solid white;
    padding-left: 10px;
    padding-right: 15px;
  }

  .light-green {
    background-color: rgba(43, 179, 192, 0.15);

    &:hover {
      background-color: rgba(43, 179, 192, 0.3);
    }
  }

  .light-red {
    background-color: rgba(225, 97, 35, 0.15);

    &:hover {
      background-color: rgba(225, 97, 35, 0.3);
    }
  }

  .green {
    color: #2bb3c0;
  }

  .red {
    color: #e16123;
  }

  .no-data {
    margin-top: 150px;
    font-size: 24px;
  }

  .transaction-description {
    border-left: 3px solid white;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 75%;
  }
}

// #######################

.label {
  background-color: #393939;
  font-weight: 700;
  color: white;
  width: 100%;
  border-radius: 5px 5px 0px 0px;
  padding-bottom: 15px;

  .head {
    font-size: 27px;
    margin-bottom: 10px;
    padding-top: 10px;
  }

  .nav-item a {
    font-size: 18px;
    border-radius: 5px;
    width: 266px;
  }
}

// .scroll {
//   height: 450px;
//   overflow-y: scroll;
// }

.summary-box {
  padding: 0px;

  .transaction-list {
    overflow-y: scroll;
    min-height: 300px;
    height: calc(100vh - 655px);

    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      // background: #f1f1f1;
      border-radius: 50px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #393939;
      border-radius: 50px;
      height: 5px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .summary-footer {
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: #393939;
    color: white;
    height: 50px;
    padding: 0px 181px 0px;
    border-radius: 0px 0px 5px 5px;
    margin-top: 5px;

    .total {
      padding: 5px 10px 5px 10px;
      border-radius: 30px;
      font-weight: bold;
    }
  }
}
